$AppScreenSmall: 576px;
$AppScreenMedium: 768px;
$AppScreenLarge: 992px;
$AppScreenExtraLarge: 1200px;

$AppHeaderHeight: 70px;
$AppHeaderBackgroundColor: darkgreen;
$AppHeaderColor: white;

$AppDashboardBackgroundColor: #333333;
$AppDashboardColor: white;
$AppDashboardSideMenuWidth: 300px;
$AppDashboardSideMenuBackgroundColor: #555555;
$AppDashboardSideMenuColor: white;
$AppDashboardCellBackgroundColor: lightgrey;
$AppDashboardCellColor: black;

