@import '../../_constants';

$PageLoginHeaderBackgroundColor: darkgreen;
$PageLoginHeaderColor: white;
$PageLoginBackgroundColor: white;
$PageLoginTextColor: black;
$PageLoginPrimaryButtonColor: darkgreen;
$PageLoginPrimaryButtonTextColor: white;
$PageLoginSecondaryButtonColor: gray;
$PageLoginSecondaryButtonTextColor: white;




#page-login{    
    font-size: 24px;

    &-header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $AppHeaderHeight !important;
        color: $PageLoginHeaderColor !important;
        background-color: $PageLoginHeaderBackgroundColor !important;
        display: flex;
    }
    &-header .title{
        line-height: $AppHeaderHeight;
        padding-left: 20px;
        font-weight: bold;
    }
    &-content{
        position: absolute;
        top: $AppHeaderHeight;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
    } 
    &-form{
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        background-color: white;
        color: $PageLoginTextColor;
        padding: 20px;
        overflow-y: auto;
    }
    &-form .page-login-form-title{
        font-weight: bold;
        font-size: 1.2rem;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    &-form button.app-primary{
        min-width: 200px;
        width: auto;
        height: 40px;
        border-radius: 4px;
        font-size: 24px;
        color: $PageLoginPrimaryButtonTextColor;
        background-color: $PageLoginPrimaryButtonColor;
        padding-left: 10px;
        padding-right: 10px;
    }
    &-form button.app-secondary{
        min-width: 200px;
        width: auto;
        height: 40px;
        border-radius: 4px;
        font-size: 24px;
        color: $PageLoginSecondaryButtonTextColor;
        background-color: $PageLoginSecondaryButtonColor;
        padding-left: 10px;
        padding-right: 10px;
    }
    &-image{
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: #005500;
        background-image: url(../../images/pngegg-energy-saving.png), url(../../images/pngegg-green-city.png);
        background-size: 30%, contain;
        background-position: center, bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

@media (max-width: ($AppScreenMedium - 1)) {
    #page-login-form {
        right: 0;
    }
    #page-login-image {
        display: none;
    }
}

/*
@media (max-width: ($AppScreenSmall - 1)) {
}
@media (min-width: $AppScreenSmall) and (max-width: ($AppScreenMedium - 1)) {
}
@media (min-width: $AppScreenMedium) and (max-width: ($AppScreenLarge - 1)) {
}
@media (min-width: $AppScreenLarge) and (max-width: ($AppScreenExtraLarge - 1)) {
}
@media (min-width: $AppScreenExtraLarge) {
}
*/